{% extends "app/layout.html" %}
{% block content %}
<form method="POST" action={% url 'newcompile' %}>
    {% csrf_token %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        <div class="container">
            <div id="topbar">
                <div class="lang-choose">
                    <select class="form-control" name="lang" id="lang">
                        {% for key,value_list in initial.context.items %}
                        {% for value in value_list %}

                        <option value="{{ key }},{{value.1 }}"> {{ key }} ({{ value.0 }})</option>

                        {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div id="showres">
                    <div style="margin-left:85.4%;"class="run-save-panel">
                        <button class="btn btn-success" id="runcode"  data-toggle="tooltip" data-placement="top" title="Compile and Run">Compile and Run</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-container">
                    <textarea id="custom-input" name="source" class="input-textarea" placeholder="Write inputs to program."></textarea>
                </div>
            </div>

            <div class="outputbox">
                <div class="outputio">
                    <div class="outputerror">
                        <div class="errorkey"></div>
                        <pre class="errormessage"></pre>
                    </div>

                    <div class="io-show">
                        <b>Output</b>
                        <pre id="test" class="output-text outputo"> </pre>
                        <b>Input</b>
                        <pre class="output-text outputi"> </pre>
                    </div>
                </div>
            </div>
        </div>
</form>

<div class="container">
    <div class="row">
        <h3> Problems </h3>

        {{ description.problems }}

        <h3> Examples </h3>

        {% for e in description.examples %}
  
        <b> {{ e.title }} </b> <br>
        <b> Input:</b> {{ e.example_input }} <br>
        <b> Output:</b> {{ e.output }} <br>

        {% endfor %}

        <h3> Hints </h3>

        {% for h in description.hints %}

        <b> {{ h.title }} </b>  <br>
        {{ h.description }} <br><br>

        {% endfor %}

        <h3> Solutions </h3>

        {% for s in description.solutions %}

        <b> {{ s.title }} </b>  <br>
        {{ s.description }} <br>
        {{ s.code }} <br>
        {{ s.complexity_analysis }} <br>

        {% endfor %}

    </div>
</div>


{% endblock %}